
.bg-gray{
    background:#1f2938;
}
.bg-success{
    background-color: #00d25b;
    border-color: #00d25b;
    color: #fff;
}
.module-title{
    --tw-text-opacity: 1;
    color: rgb(243 244 246 / var(--tw-text-opacity));
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
}
.text-sm{
    font-size: .875rem;
    line-height: 1.25rem;
}
.block{
    display: block;
}
.w-full{
    width: 100%;
}
.text-white{
    color: white
}
.text-block{
    color: black
}
.text-gray{
    color: #9ca3b0;
}
.text-green{
    color: #00d25b;
}
.text-yellow{
    color: #ffc108;
}
.text-read{
    color: #fc424a;
}
.text-blue{
    color: #0d6efd;
}
.form-control:focus, .asColorPicker-input:focus, .dataTables_wrapper select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=number], .select2-container--default .select2-selection--single:focus, .select2-container--default .select2-selection--single .select2-search__field:focus, .typeahead:focus, .tt-query:focus, .tt-hint:focus{
    color: #2A3038
}
.form-control {
    line-height: initial;
}
.dropdown-menu {
    min-width: auto;
}
.dropdown-item:hover, .dropdown-item:focus{
    color: #fff;
}
p, a, span, label, button, h1, h2, h3, h4, h5, h6, strong{
    font-family: initial;
}
#myModal .modal-content {
    background-color: #e3e3e3;
    border: 1px solid #dee2e6;
    color: #000;
}
#myModal .modal-header {
    border-bottom: 1px solid #dee2e6;
}
#myModal .modal-dialog .form-control{
    border: 1px solid #e3e3e3;
    background-color: #fff;
    color: #000;
}

/* ck editor */

.ck-editor__editable[role="textbox"] {
    min-height: 200px;
}
.ck-content .image {
    max-width: 80%;
    margin: 20px auto;
}

/* end ck editor */

.form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint {
    border: 1px solid #ccced1;
    height: calc(2.25rem + 2px);
    font-weight: normal;
    font-size: 0.875rem;
    padding: 0.625rem 0.6875rem;
    background-color: #ffffff;
    border-radius: 2px;
    color: #2A3038;
}

.form-control:focus, .asColorPicker-input:focus, .dataTables_wrapper select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=number], .select2-container--default .select2-selection--single:focus, .select2-container--default .select2-selection--single .select2-search__field:focus, .typeahead:focus, .tt-query:focus, .tt-hint:focus {
    border: 1px solid rgba(71, 164, 71, 0.5);
    background-color: #ffffff;
}

.card-body {
    background: #f5f5f5;
    color: #000;
    border-radius: 5px;
}

a{
    text-decoration: none;
}

.filter-dropdown, .dropdown{
    display: inline-block
}
